<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
<head>
    <title>Phish Guardian</title>
</head>
<body>
    <h1>Phish Guardian</h1>
    <form method="POST">
        <textarea name="email_content" rows="15" cols="80" placeholder="Paste raw email here"></textarea><br>
        <div class="button-wrapper">
        <button type="submit">Check</button>
        </div>

    </form>
    {% if result %}
<h2 class="{% if result == 'Phishing' %}result-phishing{% else %}result-legit{% endif %}">Result: {{ result }}</h2>
<p>Risk Score: {{ score }}/10</p>
<div class="score-results">
    <h3>Scoring Breakdown</h3>
    <p><strong>Rule-Based Score:</strong> {{ rule_score }}</p>
    <p><strong>ML Score:</strong> {{ ml_score }}</p>
    <p><strong>Hybrid Score:</strong> {{ hybrid_score }}</p>
</div>
{% endif %}


</body>
</html>